.notifications-panel {
  grid-area: notifications;
  border: 3px;
  border-radius: 5px;
  border-style: solid;
  padding: 1.5em;
  background-color: #f5f7fe;
  display: grid;
  align-content: start;
}

.notifications-panel h1 {
  justify-self: center;
}